# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cht_platform

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# SQS Queue URLs
SQS_EMAIL_QUEUE_URL=
SQS_PAYMENT_QUEUE_URL=
SQS_CME_QUEUE_URL=

# SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=noreply@chtplatform.com

# Stripe
STRIPE_SECRET_KEY=pk_test_51SgE8U4AsB5fThafcGimMu6kadDjrman1ptUTRs69I2m5HDgWM4hJegOuos8oJ47kwVmDYu3hP2uOUSrbUKjh5kn00TPu3XgL9

# S3 (for certificates)
S3_CERTIFICATES_BUCKET=cht-platform-certificates-dev

# Environment
ENVIRONMENT=development
